/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/blogs/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_headingContent__BqnQG{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_blogs__aezDS{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.page_blog__dwREd{
    flex: 1 1;
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 20px;
}
.page_blogTitle__GEnto{
    color: #daa8de;
}
